@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}

.title {
  font-family: "Space Mono", monospace;
  text-align: center;
  font-size: 70px;
}

.center {
  text-align: center;
}

.mleft {
  margin-left: 40px;
}

.mmleft {
  margin-left: 65px;
}

.mright {
  margin-right: 40px;
}

.mmright {
  margin-right: 65px;
}

.mtop {
  margin-top: 40px;
}

.mmtop {
  margin-top: 65px;
}

.mbottom {
  margin-bottom: 40px;
}

.mmbottom {
  margin-bottom: 65px;
}

.mm {
  font-family: "Space Mono", monospace;
}

.typew-done::after {
  animation: blinkcursor 0.7s infinite;
  content: "_";
}

@keyframes blinkcursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  background: #18161e;
  color: white;
}

nav {
  width: 100%;
  height: 40px;
  background: #1c1a26;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 99999999;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 15px;
  padding: 0 10px;
  border-bottom: 2.2px solid transparent;
  transition-duration: 0.3s;
  font-size: 14.6px;
}

nav a.active {
  border-bottom: 2.2px solid white;
}

nav a:not(.active):hover {
  border-bottom: 2.2px solid white;
}

.line {
  position: fixed;
  z-index: 9999999;
  top: 40px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    transparent,
    rgb(226, 43, 43),
    transparent
  );
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  padding-right: 30px;
  font-size: 14.6px;
  font-weight: bold;
  z-index: -1;
}

.content {
  position: relative;
  top: 60px;
}

.space {
  margin-bottom: 25px;
}

button {
  cursor: pointer;
  outline: none;
  border: 2px solid black;
  background: #262838;
  color: white;
  padding: 10px;
  transition: 0.3s;
}

button:hover {
  border-color: blueviolet;
}

.panic:hover {
  border-color: red;
}

.panic {
  border-color: white;
  padding: 2px 7px;
  display: none;
}

nav button {
  margin-right: 30px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8a2be2 #16161e;
}

*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #16161e;
}

*::-webkit-scrollbar-thumb {
  background-color: #8a2be2;
  border-radius: 0px;
  border: 4px solid #16161e;
}

.center {
  text-align: center;
  margin: auto;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.shownav {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
}

input[type="text"] {
  cursor: pointer;
  outline: none;
  border: 2px solid black;
  background: #262838;
  color: white;
  padding: 7px;
  transition: 0.3s;
  width: 250px;
}

input[type="text"]:focus {
  cursor: text;
  border-color: blueviolet;
}

label {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: aquamarine;
  font-weight: bold;
}

a:hover:not(nav a) {
  text-decoration: underline;
}

.link {
  cursor: cell;
  text-decoration: none !important;
}

.link:hover {
  opacity: 0.8;
}

.link_click:hover {
  text-decoration: underline !important;
}

.link.rh {
  color: rgb(137, 207, 209);
}

.link.em {
  color: rgb(216, 255, 158);
}

.actionbutton {
  border: none;
  padding: 7px 12px;
  margin: 10px unset;
  color: lightcoral;
}

.actionbutton:hover {
  color: aquamarine;
}

.actionbutton::before {
  content: "> ";
}

.footer {
  background: rgba(224, 255, 255, 0.301);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: none;
}
